<% layout("layouts/boilerplate") %>
<body>
  <h1>BOOKmyhotel</h1>
  <% for(let listing of allLisitngs){%>
  <li>
    <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
  </li>
  <%}%>
</body>
