<% layout("layouts/boilerplate") %>
<body>
  <form method="get" action="/listings/new">
    <button>Create new listing</button>
  </form>
  <h1>WANDER LUST</h1>
  <% for(let listing of allLisitngs){%>
  <li>
    <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
  </li>
  <%}%>
</body>
